@model MvcUrünTakipSistemi.Models.Entity.Satislar
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<br />
<form class="form-group" method="post">
    <div style="margin-top:15px;">
        <label>Ürün Seç..</label>
        @Html.DropDownListFor(x => x.Urunler.UrunID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Personel Seç..</label>
        @Html.DropDownListFor(p => p.Personel.PersonelID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Müşteri Seç..</label>
        @Html.DropDownListFor(m => m.Musteriler.MusteriID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Fiyat</label>
        @Html.TextBoxFor(f => f.Fiyat, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-success">Satış Ekle</button>
    </div>
</form>

